.card {
  width: 100%;
  min-height: 90vh;
  background-image: url("../../../assets/images/TravellyImages/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgDark {
  background: rgba(52, 50, 50, 0.7);
}
.gitHubBtn {
  text-align: left;
}
a {
  text-decoration: none;
}
