@import "../../../assets/globalStyles/VariableStyles";

.mainBanner {
  min-height: 90vh;
  width: 100%;
}

.gitHubColor:hover {
  color: $color-yellow;
}
.linkedinColor:hover {
  color: $color-yellow;
}
.facebookColor:hover {
  color: $color-yellow;
}
.anchorTag {
  color: unset;
  margin-left: 0.5rem;
}
a {
  list-style: none;
}
